*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
ltr/admin/local.py
ltr/run_ltr_local.py
ltr/fcot_log.txt
ltr/train_settings/*/debug.py
ltr/external/DCNv2/DCNv2.egg-info*
ltr/external/DCNv2/build*
models/fcot.pth
models/dimp50.pth
pytracking/eval_otb.py
pytracking/networks/
pytracking/tracking_results/
pytracking/evaluation/local.py
pytracking/run_local.py